DATABASE_URL=postgresql://user:password@host/neondb?sslmode=require
GOOGLE_APPLICATION_CREDENTIALS=./serviceAccountKey.json
CORS_ORIGINS=http://localhost:3000
SERVICE_ACCOUNT_KEY='{"type":"service_account",...}'